.flex {
  display: flex;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.flex-vcenter {
  @extend .flex;
  align-items: center;
}

.flex-hcenter {
  @extend .flex;
  justify-content: center;
}

.flex-center {
  @extend .flex-vcenter;
  @extend .flex-hcenter;
}

.flex-between {
  @extend .flex;
  justify-content: space-between;
}

.flex-wrap {
  @extend .flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.pointer {
  cursor: pointer;
  outline: none;
}

.disabled {
  cursor: not-allowed !important;
  opacity: .5;
}

.width-full {
  width: 100% !important;
}

.height-full {
  height: 100% !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin margin-padding($x) {
  .mt-#{$x} {
    margin-top: $x+px !important;
  }

  .mb-#{$x} {
    margin-bottom: $x+px !important;
  }

  .ml-#{$x} {
    margin-left: $x+px !important;
  }

  .mr-#{$x} {
    margin-right: $x+px !important;
  }

  .mtb-#{$x} {
    margin-top: $x+px !important;
    margin-bottom: $x+px !important;
  }

  .mlr-#{$x} {
    margin-left: $x+px !important;
    margin-right: $x+px !important;
  }

  .pt-#{$x} {
    padding-top: $x+px !important;
  }

  .pb-#{$x} {
    padding-bottom: $x+px !important;
  }

  .pl-#{$x} {
    padding-left: $x+px !important;
  }

  .pr-#{$x} {
    padding-right: $x+px !important;
  }

  .ptb-#{$x} {
    padding-top: $x+px !important;
    padding-bottom: $x+px !important;
  }

  .plr-#{$x} {
    padding-left: $x+px !important;
    padding-right: $x+px !important;
  }
}

@for $i from 0 through 30 {
  @include margin-padding($i)
}
